run/
configs/
xAHAnalysis/build/
xAHAnalysis/run/DAOD*
MicroNTupleMaker/MicroNTuples/
MicroNTupleMaker/exe
user.kipark.509962.mc20a.v7p1a.log.482501484          
user.kipark.509962.mc20a.v7p1a_output.root
user.kipark.509962.mc20a.v7p1a_output.root.482501485
condor/v*
condor/*.txt
Results/*.root
